<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="MontanoP8"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\School\NetCsharp\Programs\MontanoP8\MontanoP8\MontanoP8.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>